
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: rgb(100, 100, 100);
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    color: white;
    text-decoration: none;
    padding: 15px;
}
header a:hover {
    outline: 3px white solid;
    border-radius: 100px;
}

section{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio img {
    border-radius: 1000px;
}

#galeria {
    margin: auto;
    max-width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.imagen {
    border-radius: 15px;
    overflow: hidden;

    height: 300px;
    flex-basis: 300px;
    flex-grow: 1;


}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform .3s, filter .3s;
}

.imagen:hover img {
    transform: scale(1.5);
    filter: blur(9px);
}
/* contacto */
input {
    border-style: solid;
    border-color: #c9be28;
    border-radius: 0.4rem;
    width: 20rem;
    padding: 0.5rem;
}

button {
    border-radius: 0.4rem;
    background-color: #e6ff06;
    border-style: none;
    width: 100%;
    padding: 0.5rem;
    color: rgb(255, 238, 7);
}

p {
    margin-bottom: 0rem;
}

.imagen {
    position: relative;
}

.imagen::after {
    content: attr(data-content);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;

    bottom:24px;
    font-size: 32px;
    width: 100%;
    text-align: center ;

    opacity: 0;

}

.imagen:hover::after {
    opacity: 1;
}
